#gameboard {
    height: 70vh;
    min-width: 60vw;
    max-width: 400px;
    border: 3px solid black;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.tile {
    min-width: 25%;
    height: 25%;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.player-0-tile {
    background-color: #ffffff;
}

.player-1-tile {
    background-color: red;
}
.player-2-tile {
    background-color: blue;
}
.player-3-tile {
    background-color: green;
}
.player-4-tile {
    background-color: yellow;
}
